.ProductListItem {
    position: relative;
}

.SingleProductLink {
    display: flex;
    align-items: flex-start;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: 0px;
}

.SingleProductLink:hover {
    background: rgb(77, 77, 77);
}

.ProductIcon {
    margin-right: 15px;
    margin-top: 4px;
    position: relative;
    min-width: 36px;
    z-index: 2;
}

.Icon {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

.ProductInfo {
    flex: 1 0 auto;
    align-self: center;
    overflow: hidden;
}

.ContentRow1 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: -0.3px;
    max-width: 237px;
    line-height: 1.43;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.ContentRow2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    letter-spacing: -0.3px;
    max-width: 237px;
    line-height: 1.43;
    font-weight: 400;
    font-size: 14px;
    color: rgb(166, 166, 166);
}

.Name {
    margin-right: 8px;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Balance {
    margin-left: auto;
    flex: 1 0 auto;
    text-align: right;
    font: 14px/1.3 SBSans,Arial,Helvetica,sans-serif;
}